<footer aria-label="Report footer" id="footer" class="card">
  <div class="row mx-0">
    <div class="col-sm-6 text-sm-start">
      <a href="https://form.gov.sg/64d1fcde4d0bb70012010995" target="_blank">Help us improve</a>
      <hr class="d-sm-none" />
    </div>
    <div class="col-sm-6 text-sm-end">
      Created by
      <a href="https://form.gov.sg/64d1fcde4d0bb70012010995" target="_blank"
        >GovTech Accessibility Enabling Team</a
      >
    </div>
  </div>
</footer>
