<%# this is a template; content will be populated using js %>
<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="expandedRule"
  aria-labelledby="expandedRuleName"
>
  <div class="p-4">
    <div class="offcanvas-header p-0">
      <h3 class="offcanvas-title" id="expandedRuleName">Offcanvas</h3>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <p id="expandedRuleDescription">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <a id="expandedRuleHelpUrl" href="#" target="_blank">Learn more about this issue</a>
    <h4>Conformance:</h4>
    <div id="expandedRuleConformance"></div>
  </div>
  <div class="offcanvas-body">
    <div id="expandedRuleInfoText"></div>
    <div id="expandedRuleCategorySelectors"></div>
    <div id="expandedRuleCategoryContent" class="mt-4"></div>
  </div>
</div>
