<div class="screenshot-lightbox">
    <div class="lightbox-zoom-btn-container">
        <button type="button" onclick="zoomIn()">Zoom In</button>
        <button type="button" onclick="zoomOut()">Zoom Out</button>
    </div>
    <div class="lightbox-content">
        <img id="lightbox-image"></img>
    </div>
</div>