<div id="top-five-card" class="card h-100">
  <div class="card-body">
    <h2>Top 5 affected pages with the most issues</h2>
    <ul class="unbulleted-list">
      <% topFiveMostIssues.forEach((page, index) => { %>
        <li class="d-flex justify-content-between">
          <a href="<%= page.url %>" target="_blank"><%= page.pageTitle %></a>
          <span aria-label="<%= page.totalIssues %> issues" class="fw-bold ms-2"><%= page.totalIssues %></span>
        </li>
      <% }) %>
  </ul>
  </div>
</div>
