<%
  wcagLinks = {
    'WCAG 1.1.1': 'https://www.w3.org/TR/WCAG21/#non-text-content',
    'WCAG 1.2.2': 'https://www.w3.org/TR/WCAG21/#captions-prerecorded',
    'WCAG 1.3.1': 'https://www.w3.org/TR/WCAG21/#info-and-relationships',
    // 'WCAG 1.3.4': 'https://www.w3.org/TR/WCAG21/#orientation', - TODO: review for veraPDF
    'WCAG 1.3.5': 'https://www.w3.org/TR/WCAG21/#use-of-color',
    'WCAG 1.4.2': 'https://www.w3.org/TR/WCAG21/#audio-control',
    'WCAG 1.4.3': 'https://www.w3.org/TR/WCAG21/#contrast-minimum',
    'WCAG 1.4.4': 'https://www.w3.org/TR/WCAG21/#resize-text',
    // 'WCAG 1.4.10': 'https://www.w3.org/TR/WCAG21/#reflow', - TODO: review for veraPDF
    'WCAG 1.4.12': 'https://www.w3.org/TR/WCAG21/#text-spacing',
    'WCAG 2.1.1': 'https://www.w3.org/TR/WCAG21/#pause-stop-hide',
    'WCAG 2.4.1': 'https://www.w3.org/TR/WCAG21/#bypass-blocks',
    'WCAG 2.4.2': 'https://www.w3.org/TR/WCAG21/#page-titled',
    'WCAG 2.4.4': 'https://www.w3.org/TR/WCAG21/#link-purpose-in-context',
    'WCAG 3.1.1': 'https://www.w3.org/TR/WCAG21/#language-of-page',
    'WCAG 3.1.2': 'https://www.w3.org/TR/WCAG21/#labels-or-instructions',
    'WCAG 4.1.1': 'https://www.w3.org/TR/WCAG21/#parsing',
    'WCAG 4.1.2': 'https://www.w3.org/TR/WCAG21/#name-role-value'
  };

  wcagPassPercentage = parseFloat(
    (Object.keys(wcagLinks).length - wcagViolations.length) / Object.keys(wcagLinks).length * 100
  ).toFixed(2);
%>

<div id="wcag-compliance-card" class="card-body">
  <h2>WCAG Compliance</h2>
  <div class="d-flex align-items-center">
    <span class="flex-grow-1"><span class="d-none d-md-inline">Automated: </span>WCAG (A & AA) Passes</span>
    <span aria-label="Pass percentage" class="ms-2"><%= wcagPassPercentage %>%</span>
  </div>
  <div class="wcag-compliance-passes-bar">
    <div
      class="wcag-compliance-passes-bar-progress"
      style="width: <%= wcagPassPercentage %>%"
    >
    </div>
  </div>
  <p class="d-none d-md-block">
    Only a subset of
        <a
        href="https://www.w3.org/WAI/WCAG21/quickref/?currentsidebar=%23col_customize&versions=2.1&levels=aaa"
        target="_blank"
        >WCAG 2.1</a
        >
        (Conformance Level A & AA) Success Criteria can be automatically checked so
        <a aria-label="Manual testing guide" href="http://go.gov.sg/a11y-manual-testing" target="_blank">manual testing</a>
        is still required.
  </p>
  <button
  id="wcagModalToggle"
  type="button"
  data-bs-toggle="modal"
  data-bs-target="#wcagModal"
  >
    More details
  </button>

</div>
<!-- START Modal Pop up -->
<div
  id="wcagModal"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="wcagModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fw-bold" id="wcagModalLabel">Automated Testing WCAG Coverage</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          Only 16 WCAG 2.1 Success Criteria can be checked reasonably through automated testing:
        </div>
        <div class="accordion my-3" id="wcagLinksAccordion">
          <div class="accordion-item">
            <div class="accordion-header" id="wcagLinksAccordionTitle">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#wcagLinksAccordionContent"
                aria-expanded="false"
                aria-controls="wcagLinksAccordionContent"
              >
                16 WCAG Success Criteria (A & AA)
              </button>
            </div>
            <div
              id="wcagLinksAccordionContent"
              class="accordion-collapse collapse"
              aria-labelledby="wcagLinksAccordionTitle"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <ul id="wcagLinksList">
                  <% Object.entries(wcagLinks).forEach(link => { %>
                  <li>
                    <a href="<%= link[1] %>" target="_blank"><%= link[0] %></a>
                  </li>
                  <% }) %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div>
          <strong>Manual testing is still recommended</strong> as they involve subjective judgements
          and human interpretation, which cannot be fully automated.
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END Modal Pop up -->