<%# utility functions %>
<script>
  function createElementFromString(htmlString) {
    const tempContainer = document.createElement('div');
    tempContainer.innerHTML = htmlString.trim();
    return tempContainer.firstChild;
  }

  const htmlTagAndAttributeRegex = new RegExp(
    /((?<=[<])\s*([a-zA-Z][^\s>/]*)\b)|([\w-]+)\s*(?==\s*["']([^"']*)["'])/g,
  );

  const whitelistedAttributes = [
    `type`,
    `tabindex`,
    `lang`,
    `scope`,
    `alt`,
    `role`,
    `charset`,
    `for`,
    `content`,
    `name`,
    `onclick`,
    `aria*`,
    `src`,
    `value`,
    `href`,
    `title`,
    `style`,
  ];

  const mutedAttributeValues = [`name`, `data`, `src`, `value`, `href`, `title`, `aria-*`];

  const ruleIdsWithHtml = [
    'aria-allowed-attr',
    'aria-hidden-focus',
    'aria-input-field-name',
    'aria-required-attr',
    'aria-required-children',
    'aria-required-parent',
    'aria-roles',
    'aria-toggle-field-name',
    'aria-valid-attr-value',
    'aria-valid-attr',
    'input-button-name',
    'link-name',
    'nested-interactive',
    'avoid-inline-spacing',
    'aria-allowed-role',
  ];

  const rulesUsingRoles = [
    'aria-allowed-attr',
    'aria-required-attr',
    'aria-required-children',
    'aria-required-parent',
    'aria-roles',
    'aria-allowed-role',
    'aria-valid-attr-value',
  ];

  const sortAlphaAttributes = htmlString => {
    let entireHtml = '';
    const htmlOpeningTagRegex = /<[^>]+/g;
    const htmlTagmatches = htmlString.match(htmlOpeningTagRegex);

    let sortedHtmlTag;

    htmlTagmatches.forEach(htmlTag => {
      const closingTag = htmlTag.trim().slice(-1) === '/' ? '/>' : '>';

      const htmlElementRegex = /<[^> ]+/;
      const htmlElement = htmlTag.match(htmlElementRegex);

      const htmlAttributeRegex = /[a-z-]+="[^"]*"/g;
      const allAttributes = htmlTag.match(htmlAttributeRegex);

      if (allAttributes) {
        sortedHtmlTag = `${htmlElement} `;
        allAttributes.sort((a, b) => {
          const attributeA = a.toLowerCase();
          const attributeB = b.toLowerCase();

          if (attributeA < attributeB) {
            return -1;
          }

          if (attributeA > attributeB) {
            return 1;
          }
        });

        allAttributes.forEach((htmlAttribute, index) => {
          sortedHtmlTag += htmlAttribute;
          if (index !== allAttributes.length - 1) {
            sortedHtmlTag += ' ';
          }
        });

        sortedHtmlTag += closingTag;
      } else {
        sortedHtmlTag = htmlElement + closingTag;
      }

      entireHtml += sortedHtmlTag;
    });
    return entireHtml;
  };

  const muteAttributeValues = htmlSnippet => {
    const regex = new RegExp(`(\\s+)([\\w-]+)(\\s*=\\s*")([^"]*)(")`, `g`);

    return htmlSnippet.replace(regex, (match, p1, p2, p3, p4, p5) => {
      if (mutedAttributeValues.includes(p2)) {
        return `${p1}${p2}${p3}...${p5}`;
      }
      return match;
    });
  };

  const dropAllExceptWhitelisted = htmlSnippet => {
    const regex = new RegExp(
      `(\\s+)(?!${whitelistedAttributes.join(`|`)})([\\w-]+)(\\s*=\\s*"[^"]*")`,
      `g`,
    );
    return htmlSnippet.replace(regex, ``);
  };

  const createLabelForRuleWithRole = html => {
    const htmlTagAndRoleAttributeRegex = new RegExp(
      /(?<=<)\s*([a-zA-Z][^\s>/]*\b)|role="([^"]*)"/g,
    );
    const htmlLabel = html.match(htmlTagAndRoleAttributeRegex).toString().replaceAll(',', '_');
    return htmlLabel ? htmlLabel : '';
  };

  const createBasicHTMLLabel = (ruleID, html) => {
    if (rulesUsingRoles.includes(ruleID) & html.includes('role')) {
      const label = createLabelForRuleWithRole(html);
      return label;
    }
    const label = html.match(htmlTagAndAttributeRegex).toString().replaceAll(',', '_');
    return label;
  };

  const entityMap = {
    '&': '&amp;',
    '<': '&lt;',
    '>': '&gt;',
    '"': '&quot;',
    "'": '&#39;',
    '/': '&#x2F;',
    '`': '&#x60;',
    '=': '&#x3D;',
  };

  const escapeHtmlForAI = html => {
    return html
      .replace(/&/g, '&amp;')
      .replace(/</g, '&lt;')
      .replace(/>/g, '&gt;')
      .replace(/"/g, '&quot;')
      .replace(/'/g, '&#039;');

    // .replaceAll('&', '&amp;')
    //   .replaceAll('<', '&lt;')
    //   .replaceAll('>', '&gt;')
    //   .replaceAll('"', '&quot;')
    //   .replaceAll("'", '&#039;')
    //   .replaceAll('/', '&#x2F;')
    //   .replaceAll('=', '&#x3D;');

    // return String(html).replace(/[&<>"'`=\/]/g, function(s) {
    //   return entityMap[s];
    // });
  };

  const generateQuery = async (ruleId, accordionDiv, ruleHtmlLabel, buttonsDiv) => {
    document.getElementById(buttonsDiv).disabled = true;
    document.getElementById(buttonsDiv).style =
      'background-color: #ffffff;border: 1px solid #B5C5CA;color:#B5C5CA;border-radius: 4px;height: 44px;padding-left: 16px;padding-right: 16px;width: 100%';
    document.getElementById(buttonsDiv).textContent = 'Generating...';

    try {
      const ruleIdJsonData = await fetch(
        `https://younglim.github.io/purple-ai-test/results/${ruleId}.json`,
      ).then(async response => {
        if (response.status === 200) {
          const ruleIdData = await response.json();
          const escapedHtml = escapeHtmlForAI(ruleIdData[ruleHtmlLabel]);
          // const fEscapedHtml = escapedHtml.match(/```([\s\S]*?)```/g)[0]
          // console.log("fescapedhtml: ", fEscapedHtml)

          const replacedString = escapedHtml.replaceAll(
            /```([\s\S]*?)```/g,
            `<code class="codeForAiResponse language-html hljs">$1</code>`,
          );

          const replacedRuleHtmlLabel = escapeHtmlForAI(ruleHtmlLabel);

          if (
            localStorage.getItem(storagePath) &&
            JSON.parse(localStorage.getItem(storagePath)).hasOwnProperty(buttonsDiv)
          ) {
            var aiVoteFeedback = JSON.parse(localStorage.getItem(storagePath));

            var typeOfVote = aiVoteFeedback[buttonsDiv];
            var voteString =
              typeOfVote === 'useful'
                ? `<div style="color:#4A6168" >You rated this AI suggestion useful. Undo</div>`
                : `<div style="color:#4A6168" >You rated this AI suggestion not useful. Undo</div>`;

            document.getElementById(accordionDiv).innerHTML = `<div style="
            padding: 16px;
          border: 1px solid #b5c5ca;
          width: 100%;
          background-color: #f7f6fe;
          border-radius: 4px;
          margin-left: 1rem;
          ">
          <p class="mb-0" style="--n:${replacedString.length}">
            ${replacedString.replace(/\n/g, '<br />')}
          </p>
          <div id=${buttonsDiv} style="display: flex;justify-content: flex-end;margin-top: 16px;">
            ${voteString}
          </div>
          </div>`;
          } else {
            document.getElementById(accordionDiv).innerHTML = `<div style="
            padding: 16px;
          border: 1px solid #b5c5ca;
          width: 100%;
          background-color: #f7f6fe;
          border-radius: 4px;
          margin-left: 1rem;
          ">
          <p class="mb-0" style="--n:${replacedString.length}">
            ${replacedString.replace(/\n/g, '<br />')}
          </p>
      <div id=${buttonsDiv} style="display: flex;justify-content: flex-end;margin-top: 16px;">
        <button id="aiUsefulButton" onClick="logAiResponseFeedback('useful', '${ruleId}', '${buttonsDiv}', '${replacedRuleHtmlLabel}')">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.48027 2.03518C7.7505 1.85274 7.07264 2.40464 7.02379 3.11914C6.96883 3.92143 6.84821 4.65807 6.69707 5.09623C6.60165 5.37104 6.33142 5.86951 5.90318 6.34737C5.47799 6.82294 4.92456 7.2466 4.27647 7.4237C3.7635 7.56339 3.2406 8.00767 3.2406 8.65652V11.7107C3.2406 12.3557 3.76121 12.8283 4.34594 12.8901C5.16273 12.9771 5.53982 13.2069 5.92456 13.442L5.9612 13.4649C6.16883 13.5908 6.40242 13.7305 6.70165 13.8344C7.0047 13.9382 7.3589 14 7.82073 14H10.4925C11.2077 14 11.7131 13.6359 11.9688 13.1878C12.0924 12.9763 12.1592 12.7365 12.1627 12.4916C12.1627 12.3756 12.1451 12.2534 12.1039 12.1374C12.2573 11.9367 12.394 11.6962 12.4764 11.4496C12.5604 11.1977 12.6077 10.868 12.4795 10.5725C12.5322 10.4733 12.5711 10.3672 12.6009 10.2649C12.6596 10.0588 12.6871 9.83132 12.6871 9.61071C12.6871 9.39086 12.6596 9.16415 12.6009 8.95728C12.5742 8.86218 12.5389 8.76969 12.4955 8.68094C12.6292 8.49077 12.7152 8.27126 12.7463 8.0409C12.7773 7.81054 12.7526 7.57609 12.6741 7.35729C12.5169 6.90538 12.1535 6.5176 11.7581 6.3863C11.1116 6.17103 10.3818 6.17561 9.83751 6.22523C9.72452 6.2354 9.61177 6.24813 9.49935 6.2634C9.76416 5.12935 9.74791 3.94777 9.45202 2.82143C9.40054 2.64097 9.30179 2.47753 9.16597 2.34802C9.03016 2.21852 8.86221 2.12764 8.6795 2.0848L8.48027 2.03518ZM10.4925 13.2374H7.82073C7.43142 13.2374 7.16195 13.1847 6.9505 13.1122C6.736 13.0382 6.56425 12.9382 6.35814 12.8122L6.32761 12.7939C5.90395 12.5351 5.41311 12.2359 4.42685 12.1313C4.17266 12.1038 4.00396 11.9099 4.00396 11.7115V8.65652C4.00396 8.46263 4.17647 8.24202 4.47724 8.16034C5.31311 7.93133 5.98639 7.40004 6.47264 6.85653C6.95737 6.31455 7.28485 5.73058 7.41768 5.34661C7.60317 4.81226 7.72836 3.997 7.78561 3.17105C7.8047 2.89472 8.06042 2.71762 8.29477 2.77563L8.49477 2.82601C8.61691 2.85655 8.69172 2.93517 8.71462 3.02067C9.02636 4.20847 8.98792 5.46108 8.60393 6.62752C8.5822 6.6924 8.5783 6.76192 8.59265 6.82882C8.607 6.89572 8.63907 6.95753 8.6855 7.00778C8.73193 7.05803 8.79101 7.09488 8.85657 7.11447C8.92212 7.13406 8.99174 7.13566 9.05813 7.11912L9.06042 7.11836L9.0711 7.11607L9.11538 7.10538C9.37641 7.04995 9.64048 7.00993 9.90621 6.98553C10.4123 6.93973 11.0184 6.94431 11.5169 7.11072C11.6505 7.155 11.8604 7.33973 11.952 7.6069C12.0337 7.84202 12.0184 8.11835 11.749 8.38705L11.4795 8.65652L11.749 8.92675C11.7818 8.95957 11.8291 9.03438 11.8665 9.1672C11.9032 9.29468 11.9238 9.44964 11.9238 9.61071C11.9238 9.77254 11.9032 9.92674 11.8665 10.055C11.8283 10.1878 11.7818 10.2626 11.749 10.2954L11.4795 10.5649L11.749 10.8351C11.7848 10.871 11.8322 10.9702 11.7528 11.2076C11.67 11.4379 11.5385 11.6475 11.3673 11.8221L11.0978 12.0916L11.3673 12.3618C11.3719 12.3657 11.3986 12.4 11.3986 12.4916C11.3952 12.6036 11.3634 12.7129 11.3062 12.8092C11.1803 13.029 10.9222 13.2366 10.4925 13.2366V13.2374Z"
              fill="#472BC4"
            />
          </svg>
          Useful</button
        >    <button id="aiUsefulButton" style="margin-left:16px" onClick="logAiResponseFeedback('notUseful', '${ruleId}', '${buttonsDiv}', '${replacedRuleHtmlLabel}')">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.48066 13.9646C7.7509 14.1478 7.07382 13.5951 7.0242 12.8807C6.96924 12.0791 6.84864 11.3425 6.69749 10.9036C6.60208 10.6288 6.33185 10.1311 5.90362 9.65325C5.47844 9.17693 4.92502 8.75327 4.27694 8.57694C3.76398 8.43648 3.24109 7.99222 3.24109 7.34338V4.29002C3.24109 3.645 3.76169 3.17249 4.34641 3.1099C5.16318 3.02364 5.54027 2.79311 5.92499 2.558L5.96163 2.53586C6.16926 2.40915 6.40284 2.26946 6.70207 2.16641C7.00512 2.06107 7.35931 2 7.82113 2H10.4928C11.2081 2 11.7134 2.36488 11.9691 2.81219C12.0943 3.03127 12.163 3.27554 12.163 3.50912C12.163 3.62515 12.1455 3.74729 12.1042 3.86331C12.2577 4.06331 12.3943 4.30376 12.4767 4.55032C12.5607 4.80222 12.608 5.13199 12.4798 5.42816C12.5325 5.5274 12.5714 5.63274 12.6012 5.73579C12.6599 5.94189 12.6874 6.1686 12.6874 6.38921C12.6874 6.60981 12.6599 6.83652 12.6012 7.04263C12.5745 7.13423 12.5401 7.22888 12.4958 7.31972C12.7966 7.75559 12.8149 8.23573 12.6744 8.64259C12.5172 9.09448 12.1539 9.48226 11.7584 9.61356C11.1119 9.82958 10.3821 9.82424 9.83788 9.77462C9.72488 9.76444 9.61214 9.75172 9.49972 9.73645C9.76468 10.8707 9.74843 12.0526 9.45239 13.1791C9.34705 13.5669 9.03255 13.8264 8.67989 13.915L8.48066 13.9646ZM10.4928 2.76334H7.82113C7.43183 2.76334 7.16237 2.81525 6.95092 2.88776C6.73642 2.96181 6.56467 3.06257 6.35857 3.18776L6.32804 3.20684C5.90438 3.46485 5.41356 3.76408 4.42732 3.86942C4.17313 3.89614 4.00443 4.09079 4.00443 4.28926V7.34338C4.00443 7.53803 4.17694 7.75788 4.4777 7.83955C5.31356 8.06856 5.98682 8.6006 6.47307 9.1441C6.95779 9.68607 7.28527 10.27 7.41809 10.6532C7.60358 11.1876 7.72877 12.0028 7.78602 12.8287C7.8051 13.1051 8.06082 13.2829 8.29517 13.2242L8.49516 13.1745C8.6173 13.144 8.6921 13.0646 8.715 12.9799C9.02689 11.7919 8.98845 10.539 8.60432 9.37234C8.58276 9.30751 8.57901 9.23808 8.59344 9.17131C8.60787 9.10453 8.63996 9.04285 8.68636 8.9927C8.73276 8.94256 8.79177 8.90579 8.85723 8.88623C8.92269 8.86667 8.9922 8.86504 9.05851 8.88151H9.0608L9.07148 8.88457L9.11576 8.89449C9.37678 8.94991 9.64085 8.98993 9.90658 9.01433C10.4127 9.06013 11.0188 9.05555 11.5172 8.88991C11.6508 8.84487 11.8607 8.66014 11.9523 8.39297C12.034 8.15787 12.0187 7.88154 11.7493 7.6136L11.4798 7.34338L11.7493 7.07316C11.7821 7.0411 11.8294 6.96629 11.8668 6.83271C11.9035 6.70523 11.9241 6.55027 11.9241 6.38921C11.9241 6.22814 11.9035 6.07318 11.8668 5.94571C11.8287 5.81288 11.7821 5.73731 11.7493 5.70525L11.4798 5.43503L11.7493 5.16481C11.7852 5.12893 11.8325 5.03046 11.7531 4.7923C11.6703 4.56236 11.5388 4.35302 11.3676 4.17857L11.0982 3.90835L11.3676 3.63813C11.3722 3.63431 11.3989 3.59996 11.3989 3.50836C11.3954 3.39665 11.3636 3.28766 11.3065 3.19157C11.1798 2.97097 10.9226 2.76334 10.4928 2.76334Z"
              fill="#472BC4"
            />
          </svg>
          Not useful
        </button>
      </p>
        </div>
    </div>
    `;
          }

          document.querySelectorAll('.codeForAiResponse').forEach(el => {
            hljs.highlightElement(el);
          });
        } else {
          console.log('Error fetching AI response');
          document.getElementById(buttonsDiv).disabled = false;
          document.getElementById(buttonsDiv).style = `border: 1px solid #6E52EF;color: #6E52EF;`;
          document.getElementById(buttonsDiv).textContent = 'Generate response';
          document
            .getElementById('aiGenerateResponseError')
            .replaceChildren(
              createElementFromString(
                `<div style="color:#D7260F">Something went wrong. Please try again.</div>`,
              ),
            );
        }
      });
    } catch (err) {
      console.log('Error fetching', err);
      document.getElementById(buttonsDiv).disabled = false;
      document.getElementById(buttonsDiv).style = `border: 1px solid #6E52EF;color: #6E52EF;`;
      document.getElementById(buttonsDiv).textContent = 'Generate response';
      document
        .getElementById('aiGenerateResponseError')
        .replaceChildren(
          createElementFromString(
            `<div style="color:#D7260F">Something went wrong. Please try again.</div>`,
          ),
        );
    }
  };

  const needsQueryForHTML = async (ruleID, ruleHtml) => {
    const needsQuery = await fetch(`https://younglim.github.io/purple-ai-test/catalog.json`)
      .then(async response => {
        if (response.ok) {
          const catalogData = await response.json();
          const standardisedRuleHtml = sortAlphaAttributes(
            muteAttributeValues(dropAllExceptWhitelisted(ruleHtml)),
          );

          if (!rulesUsingRoles.includes(ruleID)) {
            const currentLabelList = standardisedRuleHtml.match(htmlTagAndAttributeRegex);
            const currentLabel = currentLabelList.toString().replaceAll(',', '_');

            if (catalogData[ruleID].length === 0) {
              return '';
            }

            if (catalogData[ruleID].includes(currentLabel)) {
              return escapeHtmlForAI(currentLabel);
            }

            let count;
            for (const htmlLabel of catalogData[ruleID]) {
              const keyArr = htmlLabel.split('_');
              count = keyArr.reduce((count, curr, index) => {
                if (currentLabelList[index] === curr) {
                  return count + 1;
                }
                return count;
              }, 0);

              if (count >= 3) {
                return escapeHtmlForAI(htmlLabel);
              }
            }
            return '';
          } else {
            const ariaValidAttrValueHtml = ruleHtml.replace(/^<|>$/g, '');
            const ariaValidAttrValueHtmlList = ariaValidAttrValueHtml.split(' ');
            const roleForHtml = ariaValidAttrValueHtmlList.find(item => /^role="\w+"/.test(item));
            if (roleForHtml) {
              currentLabel = `${ariaValidAttrValueHtmlList[0]}_${roleForHtml}`;
              for (const htmlLabel of catalogData[ruleID]) {
                console.log(
                  `role for ${ruleID}: `,
                  `${htmlLabel}\n${currentLabel}\n${escapeHtmlForAI(htmlLabel)}`,
                );
                if (htmlLabel === currentLabel) return escapeHtmlForAI(htmlLabel);
              }
              return '';
            } else {
              const currentLabelList = standardisedRuleHtml.match(htmlTagAndAttributeRegex);
              const currentLabel = currentLabelList.toString().replaceAll(',', '_');

              if (catalogData[ruleID].includes(currentLabel)) {
                return escapeHtmlForAI(currentLabel);
              }

              let count;
              for (const htmlLabel of catalogData[ruleID]) {
                const keyArr = htmlLabel.split('_');
                count = keyArr.reduce((count, curr, index) => {
                  if (currentLabelList[index] === curr) {
                    return count + 1;
                  }
                  return count;
                }, 0);

                if (count >= 3) {
                  return escapeHtmlForAI(htmlLabel);
                }
              }
              return '';
            }
          }
        } else {
          throw new Error();
        }
      })
      .catch(error => {
        console.log(error);
        return '';
      });
    console.log('needs query: ', needsQuery);
    return needsQuery;
  };

  function getFormattedCategoryTitle(category) {
    const titles = {
      mustFix: 'Must Fix',
      goodToFix: 'Good to Fix',
      passed: 'Passed',
    };

    return titles[category];
  }

  function htmlEscapeString(string) {
    return string.replaceAll('<', '&lt;');
  }
</script>
