<svg data-toggle="tooltip" title="Attention Deficit" width="9px" height="14px" viewBox="0 0 9 14">
  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
    <g class="{{impact}}-stroke-icon" transform="translate(-76.000000, -104.000000)">
      <g transform="translate(80.400000, 111.100000) rotate(-90.000000) translate(-80.400000, -111.100000) translate(73.900000, 107.100000)">
        <polyline points="11.6 2 12.4 2 12.4 6 11.6 6"></polyline>
        <polyline points="2.4 4 5.2 5.2 5.2 2.8 8 4.4"></polyline>
        <rect x="0.4" y="0.4" width="9.6" height="7.2"></rect>
      </g>
    </g>
  </g>
</svg>