<svg data-toggle="tooltip" title="Blind" width="14px" height="12px" viewBox="0 0 14 12">
  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g class="{{impact}}-stroke-icon" transform="translate(-17.000000, -87.000000)">
      <g transform="translate(18.000000, 87.600000)">
        <path d="M0.4,5.6 C0.4,5.6 2.8,1.2 6.4,1.2 C10,1.2 12.4,5.6 12.4,5.6 C12.4,5.6 10,10 6.4,10 C2.8,10 0.4,5.6 0.4,5.6 Z" stroke-linecap="round" stroke-linejoin="round"></path>
        <circle cx="6.4" cy="5.6" r="2.4"></circle>
        <line x1="0.8" y1="11.2" x2="12" y2="0" id="Path" stroke-linecap="round" stroke-linejoin="round"></line>
      </g>
    </g>
  </g>
</svg>