<!DOCTYPE html>
<html>
<head>
    <title>Submit Scan Data</title>
</head>
<body>
    <form action="/submit" method="post">
        <label for="scanData">Scan Data:</label>
        <textarea id="scanData" name="scanData"></textarea><br><br>
        <label for="scanItems">Scan Items:</label>
        <textarea id="scanItems" name="scanItems"></textarea><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
