<%# this is a template; content will be populated using js %>
<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="expandedRule"
  aria-labelledby="expandedRuleName"
>
  <div class="p-4">
    <div class="offcanvas-header p-0">
      <h2 class="offcanvas-title" id="expandedRuleName"></h2>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div id="expandedRuleDescription"></div>
    <a id="expandedRuleHelpUrl" href="#" target="_blank">Learn more about this issue</a>
    <h3 id="conformance-header">Conformance:</h3>
    <div id="expandedRuleConformance"></div>
    <div id="expandedRuleAiFeedback">
      <svg aria-hidden="true" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.5272 5.84609C12.1792 4.49755 11.2565 2.14266 10.7986 0C10.34 2.14309 9.41829 4.49848 8.06975 5.84702C6.72171 7.19463 4.3661 8.11732 2.22388 8.57615C4.36697 9.03405 6.72214 9.95619 8.07019 11.3048C9.41824 12.6528 10.3409 15.0082 10.7995 17.1509C11.2574 15.0078 12.1798 12.6524 13.5277 11.3039C14.8757 9.9558 17.2313 9.03356 19.3735 8.57473C17.2309 8.11683 14.8758 7.1942 13.5272 5.84609Z" fill="#9021a6" />
        <path d="M22.2835 16.6434C21.4788 15.8384 20.9267 14.4308 20.6532 13.1509C20.3791 14.4308 19.8289 15.8383 19.0233 16.6439C18.2178 17.4485 16.8104 18.0002 15.5308 18.2742C16.8109 18.5482 18.2178 19.099 19.0233 19.9045C19.8289 20.7096 20.3801 22.1172 20.6541 23.3971C20.9276 22.1167 21.4788 20.7096 22.2839 19.9041C23.089 19.099 24.4966 18.5477 25.776 18.2733C24.4966 17.9997 23.0891 17.4486 22.2835 16.6434Z" fill="#9021a6" />
        <path d="M8.00356 19.3979C7.77349 20.4724 7.31149 21.6545 6.63533 22.3306C5.95928 23.0062 4.77771 23.4692 3.70337 23.6993C4.77771 23.9298 5.95928 24.3914 6.63533 25.0679C7.31149 25.744 7.77442 26.9251 8.00449 28.0002C8.23434 26.9251 8.69656 25.7441 9.37293 25.0675C10.0485 24.3915 11.2303 23.9289 12.3045 23.6984C11.2304 23.4687 10.0485 23.0063 9.37249 22.3302C8.69656 21.6546 8.23341 20.4725 8.00356 19.3979Z" fill="#9021a6" />
      </svg>
      This issue might benefit from AI suggested fixes.
      <%
        const urlScannedField = '64d49b567c3c460011feb8b5'; 
        const encodedUrlScanned = encodeURIComponent(urlScanned);
        const versionNumberField = '64dae8bca2eb61001284298f';
        const encodedVersionNumber = encodeURIComponent(phAppVersion);
        const aiFeedbackForm = `https://form.gov.sg/64d4a74da3a1e10012fd16a3/?${urlScannedField}=${encodedUrlScanned}&${versionNumberField}=${encodedVersionNumber}`;
      %>
      <a target="_blank" href="<%=aiFeedbackForm%>">Let us know if it helps!</a>
    </div>
  </div>
  <div class="offcanvas-body">
    <!-- search feat changes -->
    <div id="expandedRuleSearchWarning"></div>
    <div id="expandedRuleInfoText"></div>
    <nav class="d-none d-md-flex" id="expandedRuleCategorySelectors" aria-label="Occurrence category"></nav>

    <!-- START expandedRuleDropdownCategorySelector-->
    <div class="d-flex d-md-none">
      <div id="expandedRuleIssueTypeComboBoxWrapper" class="flex-grow-1 position-relative">
        <div
          id="expandedRuleIssueTypeComboBox"
          class="expanded-rule-issue-type-combobox-button"
          role="combobox"
          aria-controls="expandedRuleIssueTypeListbox"
          aria-haspopup="listbox"
          tabindex="0"
          aria-expanded="false"
          aria-label="Issue type"
        >
          <span
            id="expandedRuleDropdownToggleContainer"
            class="mustFix category-selector d-flex flex-row align-items-center gap-2"
          >
            <strong id="expandedRuleDropdownToggleCategoryTitle" class="category-name d-flex align-items-center"
              >Category Title</strong
            >
            <span id="expandedRuleDropdownToggleCategoryInfo">(# occurrences)</span>
          </span>
        </div>

        <ul role="listbox" id="expandedRuleIssueTypeListbox" class="w-100 ps-0 z-1" aria-label="Issue type">

        </ul>
      </div>

      <div class="ps-2">
        <svg
          tabindex="-1"
          id="categorySelectorDropdownToolipDescription"
          class="h-100 ms-2"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Choose a category from the dropdown"
          width="14"
          height="14"
          viewBox="0 0 14 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(.clip0_1630_1670)">
            <path
              d="M11.9528 2.05329C9.22079 -0.68205 4.78867 -0.68477 2.0533 2.04718C-0.682042 4.7792 -0.684795 9.21135 2.04722 11.9467C4.77917 14.6821 9.21135 14.6848 11.9467 11.9528C14.682 9.22085 14.6848 4.78863 11.9528 2.05329ZM7.00216 11.2406C6.6319 11.2406 6.33174 10.9405 6.33174 10.5702C6.33174 10.1999 6.63187 9.89976 7.00216 9.89976C7.37243 9.89976 7.67259 10.1999 7.67259 10.5702C7.67255 10.9405 7.37243 11.2406 7.00216 11.2406ZM8.09214 7.20401C7.70918 7.42788 7.67645 7.7033 7.6748 8.49691C7.6747 8.54938 7.67453 8.60233 7.67423 8.65558C7.67185 9.03068 7.36712 9.33312 6.99253 9.33312C6.99105 9.33312 6.98957 9.33312 6.98813 9.33312C6.61159 9.33074 6.3083 9.02356 6.31066 8.64699C6.31099 8.59568 6.31109 8.54468 6.31119 8.49415C6.31287 7.67852 6.31492 6.66352 7.40395 6.02694C8.27777 5.51613 8.3879 5.18059 8.28543 4.74029C8.16503 4.2231 7.69273 4.08907 7.32418 4.1312C7.20042 4.14541 6.58322 4.24724 6.58322 4.85783C6.58322 5.23431 6.27795 5.5396 5.90141 5.5396C5.52487 5.5396 5.21964 5.23431 5.21964 4.85783C5.21964 3.76416 6.02107 2.90831 7.16859 2.77656C8.35043 2.64099 9.35515 3.32135 9.61338 4.4312C9.99939 6.08915 8.61379 6.89911 8.09214 7.20401Z"
              fill="#B5C5CA"
            />
          </g>
          <defs>
            <clipPath class="clip0_1630_1670">
              <rect width="14" height="14" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>

    <div id="expandedRuleCategoryContent" class="mt-4"></div>
  </div>
</div>
