<div class="pb-4 mx-3">
    <table id="summary-table" style="table-layout:fixed;width:100%;">
        <col style="width:10%">
        <col style="width:30%">
        <col style="width:20%">
        <col style="width:20%">
        <col style="width:20%">
      <thead id="summary-table-header">
        <tr id="summary-table-row" style="font-weight: 600">
          <td id="summary-table-icon">Icon</td>
          <td id="summary-table-issue-description" class="py-4">Issue description</td>
          <td id="summary-table-occurrences">Occurrences</td>
          <td id="summary-table-pages">Pages</td>
          <td id="summary-table-helpUrl">Help URL</td>
        </tr>
      </thead>
      <tbody id="summary-table-contents">
      </tbody>
    </table>
</div>