<div id="wcag-compliance-card" class="card-body">
  <h2>WCAG Compliance</h2>
  <div class="d-flex align-items-center">
    <span class="flex-grow-1">WCAG (A & AA) Passes</span>
    <span aria-label="Pass percentage" class="ms-2" id="passPercentage"></span>
  </div>
  <div class="wcag-compliance-passes-bar">
    <div
      class="wcag-compliance-passes-bar-progress"
      id="wcag-compliance-passes-bar-progress"
      style="width: 0%"
    >
    </div>
  </div>
  <button
  id="wcagModalToggle"
  type="button"
  data-bs-toggle="modal"
  data-bs-target="#wcagModal"
  >
    More details
  </button>

</div>
<!-- START Modal Pop up -->
<div
  id="wcagModal"
  class="modal fade"
  tabindex="-1"
  aria-labelledby="wcagModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fw-bold" id="wcagModalLabel">Automated Testing WCAG Coverage</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          Only 19 WCAG 2.2 Success Criteria can be checked reasonably through automated testing:
        </div>
        <div class="accordion my-3" id="wcagLinksAccordion">
          <div class="accordion-item">
            <div class="accordion-header" id="wcagLinksAccordionTitle">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#wcagLinksAccordionContent"
                aria-expanded="false"
                aria-controls="wcagLinksAccordionContent"
              >
                19 WCAG Success Criteria (A & AA)
              </button>
            </div>
            <div
              id="wcagLinksAccordionContent"
              class="accordion-collapse collapse"
              aria-labelledby="wcagLinksAccordionTitle"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <ul id="wcagLinksList">
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div>
          <strong>Manual testing is still recommended</strong> as they involve subjective judgements
          and human interpretation, which cannot be fully automated.
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END Modal Pop up -->