<svg data-toggle="tooltip" title="Dyslexia" width="12px" height="15px" viewBox="0 0 12 15">
  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-family="GillSans-Italic, Gill Sans" font-size="14" font-style="italic" font-weight="normal">
    <g class="{{impact}}-fill-icon" transform="translate(-56.000000, -103.000000)">
      <g transform="translate(56.400000, 99.400000)">
        <text id="d">
          <tspan x="0" y="13.5">d</tspan>
        </text>
        <text id="b">
          <tspan x="4.8" y="17.5">b</tspan>
        </text>
      </g>
    </g>
  </g>
</svg>