name: Push installation image 

on: 
  workflow_dispatch:
  release:
    types: [published, created, edited]

jobs:
  windows-install-purple:
    runs-on: windows-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
        with:
          path: purple-hats

      - name: Copy scripts to parent directory
        run: |
          cp ${{github.workspace}}/purple-hats/scripts/*.ps1 ${{github.workspace}}
          cp ${{github.workspace}}/purple-hats/scripts/*.cmd ${{github.workspace}}      
          rd -r ${{github.workspace}}/purple-hats/scripts

      - name: Install Purple dependencies for Windows
        shell: pwsh
        run: powershell.exe -NoProfile -ExecutionPolicy Bypass "& ${{github.workspace}}\install_purple_dependencies.ps1"     
        working-directory:  ${{github.workspace}}

      - name: Zip entire Purple folder (Windows)
        shell: pwsh
        run: Compress-Archive -Path ${{github.workspace}}/* -DestinationPath purple-hats-portable-windows.zip

      - name: Upload Windows artifact
        uses: actions/upload-artifact@v3
        with:
          name: purple-hats-portable-windows
          path: ./purple-hats-portable-windows.zip

  mac-install-purple:
    runs-on: macos-latest  

    steps:
      - name: Download node.js version from nodejs.org
        run: |         
          curl -o ./nodejs-mac-arm64.tar.gz --create-dirs https://nodejs.org/dist/v18.12.1/node-v18.12.1-darwin-arm64.tar.gz      
          mkdir nodejs-mac-arm64 && tar -xzf nodejs-mac-arm64.tar.gz -C nodejs-mac-arm64 --strip-components=1 && rm ./nodejs-mac-arm64.tar.gz
          curl -o ./nodejs-mac-x64.tar.gz --create-dirs https://nodejs.org/dist/v18.12.1/node-v18.12.1-darwin-x64.tar.gz     
          mkdir nodejs-mac-x64 && tar -xzf nodejs-mac-x64.tar.gz -C nodejs-mac-x64 --strip-components=1 && rm ./nodejs-mac-x64.tar.gz

      - name: Check out repository code
        uses: actions/checkout@v3
        with:
          path: purple-hats
      
      - name: Install Purple dependencies for MacOS
        run: |
          ./scripts/install_purple_dependencies.command
        working-directory: purple-hats

      - name: Grant execute permissions for user
        run: chmod ugo+rwx ./scripts/*.command ./scripts/*.sh
        working-directory: purple-hats

      - name: Copy scripts to parent directory
        run: |
          cp ./purple-hats/scripts/{*.command,hats_shell.sh,*.command}  ${{ github.workspace }}

      - name: Zip entire Purple folder (Mac)
        run: |
          if [[ $(uname -m) == 'arm64' ]]
          then        
            zip purple-hats-portable-mac-arm64.zip -y -r ./ --exclude 'hats_shell_ps.ps1' 'hats_shell.cmd'
          else
            zip purple-hats-portable-mac-x64.zip -y -r ./ --exclude 'hats_shell_ps.ps1' 'hats_shell.cmd'
          fi
      
      - name: Upload Mac artifact
        uses: actions/upload-artifact@v3
        with:
          name: purple-hats-portable-mac
          path: ./purple-hats-portable-mac-*.zip
